.header{
  background-color: red;
  color: #fff;
  height: 150px;
}
.menu{
  background-color: green;
  color: #fff;
  height: 300px;
}
.content{
  background-color: aqua;
  color: #fff;
  height: 300px;
}
.footer{
  background-color:gray;
  color: #fff;
  height: 150px;
}